PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-01-29 12:40:37.096036');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-01-29 12:40:37.135094');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-01-29 12:40:37.163955');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0));
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$870000$QdKvPPrNGZFdD75CgLnd4A$AOnfnMO4eEeEep9xRrqRIMFmv8ECDnX0SEakgqBEcG0=',NULL,0,'roopa pk','pk','varshakvinod680@gmail.com',0,1,'2025-04-04 12:23:57.960525','roopa');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$870000$1QmUHhTUkLL06oIYVOHiC6$cWgCZh+KlK491TsMupwCCBJXZce2ioKNpZdfBJyfGCk=','2025-06-04 05:38:15.875106',0,'maria regi','regi','varshakvinod680@gmail.com',0,1,'2025-04-04 12:41:07.503673','maria');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$870000$32YC49d3COHIzoTdDf3Hq8$MLbtJhLIugTYrrU3CcOK3/yGQ3K6DZazYa94f0ge2nM=',NULL,0,'testuser','','',0,1,'2025-04-09 13:15:09.211506','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('5dbi7ha5kz323hhbww9r6t1agxs0v8xk','.eJxVjEsOwjAMBe-SNYqqmtoJS_acoXJshxRQKvWzQtwdReoCtm9m3tuNvG9l3FdbxkndxfXu9LsllqfVBvTB9T57meu2TMk3xR909bdZ7XU93L-DwmtpdaDcYS9GmiQjg5EwG2vQGCCCieYBBTNEY8hdIiRAGs4J0Mii-3wBI5E5GQ:1u0gT2:yWToxeEqZ2w3PBWiS_0AmWoadx_ZxIE3h7YzaRXxFlo','2025-04-18 12:48:16.247327');
INSERT INTO django_session VALUES('8ia2nx0i58w0pto0h0u3vmlp4c6lgr1i','.eJxVjs0OwiAQhN-FsyGUsl3q0bvPQLYs2PoDprQxxvjutqYHvU1mvpnMSziap97NJYxuYLEXlRK7X7MjfwlpTfhM6ZSlz2kah06uiNzSIo-Zw_WwsX8DPZV-aWsFZFBRRYp81F4RYDSoObINAVrfcoy2a6BBQIMIoBbVWDKaa7JmGU3h4Xy-3Sk9v1-r-v0BqyA-iw:1uRa1p:TsDYL_ZoNm6gulEl83jLRPyoenU195YXSBs6SXaPg8c','2025-07-01 17:23:21.880683');
INSERT INTO django_session VALUES('mlhbodq1rw9g1hf248dtad9gal7rmyri','.eJxVjDsOwjAQBe_iGln-bgwlfc5grddrHECOFCcV4u4QKQW0b2beS0Tc1hq3zkucsrgIMOL0OyakB7ed5Du22yxpbusyJbkr8qBdjnPm5_Vw_w4q9vqtk1JUOISAzMkhakveMoIz2uoBjCcMCnLB85CDceyppAJkmQNYLijeHyf_OSY:1uTkqt:9Q5K0S9UBY37OVUoHDmSdDODizhTnrGZOU-RAaD6TsY','2025-07-07 17:21:03.764345');
CREATE TABLE IF NOT EXISTS "App_jobseeker" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "phone" varchar(15) NOT NULL, "resume" varchar(100) NOT NULL, "skills" text NOT NULL, "experience" integer unsigned NOT NULL CHECK ("experience" >= 0), "location" varchar(100) NOT NULL, "bio" text NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "date_of_birth" date NULL);
INSERT INTO App_jobseeker VALUES(1,'09177456321','resumes/default.pdf','',0,'Coimbatore','',6,'2025-06-15');
INSERT INTO App_jobseeker VALUES(2,'09177456321','resumes/default.pdf','',0,'Malappuram','',7,'2025-05-31');
INSERT INTO App_jobseeker VALUES(3,'09188433216','resumes/default.pdf','',0,'Kochi','',8,'2000-07-14');
CREATE TABLE IF NOT EXISTS "App_fulljobapplication" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "full_name" varchar(200) NOT NULL, "age" integer unsigned NOT NULL CHECK ("age" >= 0), "gender" varchar(20) NOT NULL, "dob" date NOT NULL, "place" varchar(200) NOT NULL, "school1_name" varchar(200) NOT NULL, "school1_place" varchar(200) NOT NULL, "school1_marks" varchar(50) NOT NULL, "school1_certificate" varchar(100) NOT NULL, "school2_name" varchar(200) NOT NULL, "school2_place" varchar(200) NOT NULL, "school2_marks" varchar(50) NOT NULL, "school2_certificate" varchar(100) NOT NULL, "college_name" varchar(200) NOT NULL, "college_place" varchar(200) NOT NULL, "college_marks" varchar(50) NOT NULL, "college_certificate" varchar(100) NOT NULL, "skills" varchar(300) NOT NULL, "profile_photo" varchar(100) NOT NULL, "cover_letter" text NOT NULL, "resume" varchar(100) NOT NULL, "applied_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "admin_panel_job" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "duration" varchar(100) NOT NULL, "location" varchar(255) NOT NULL, "company_name" varchar(255) NOT NULL, "hourly_rates" varchar(100) NOT NULL, "job_details" text NOT NULL, "job_name" varchar(255) NOT NULL, "contact_number" varchar(15) NOT NULL, "created_at" datetime NOT NULL, "email" varchar(254) NOT NULL, "status" varchar(10) NOT NULL, "vacancies" integer NOT NULL, "posted_date" datetime NOT NULL, "salary" decimal NOT NULL, "skills" varchar(500) NOT NULL);
INSERT INTO admin_panel_job VALUES(2,'1 week','Palakkad ∩╗┐, near south mall','ABC Technologies','for 1 hr -  Γé╣150','A Carpenter is a construction professional who works with construction crews to build, adjust and repair wood frameworks in various construction projects. They work with their hands, using tools to build and install frameworks that last a lifetime!','Carpenter','0934567812','2025-04-02 15:14:53.235672','admin@example.com','Active',1,'2025-04-02 15:14:53.246069',1000,'');
CREATE TABLE IF NOT EXISTS "App_siteanalytics" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date" date NOT NULL, "total_users" integer NOT NULL, "total_jobs_posted" integer NOT NULL, "total_applications" integer NOT NULL, "revenue_generated" decimal NOT NULL);
CREATE TABLE IF NOT EXISTS "App_subscriptionplan" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "price" decimal NOT NULL, "duration_in_days" integer NOT NULL, "features" text NOT NULL);
CREATE TABLE IF NOT EXISTS "App_contact" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "subject" varchar(255) NOT NULL, "message" text NOT NULL, "created_at" datetime NOT NULL, "is_resolved" bool NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "App_jobalert" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "keywords" varchar(255) NOT NULL, "location" varchar(100) NOT NULL, "frequency" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "jobseeker_id" bigint NOT NULL REFERENCES "App_jobseeker" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "App_notification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "message" text NOT NULL, "created_at" datetime NOT NULL, "is_read" bool NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "App_review" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "rating" integer NOT NULL, "review" text NOT NULL, "created_at" datetime NOT NULL, "reviewer_id" bigint NOT NULL REFERENCES "App_jobseeker" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "App_savedjob" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "saved_at" datetime NOT NULL, "job_id" bigint NOT NULL REFERENCES "App_job" ("id") DEFERRABLE INITIALLY DEFERRED, "jobseeker_id" bigint NOT NULL REFERENCES "App_jobseeker" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "App_payment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "amount_paid" decimal NOT NULL, "payment_date" datetime NOT NULL, "status" varchar(20) NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "plan_id" bigint NOT NULL REFERENCES "App_subscriptionplan" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "admin_panel_adminjobapplication" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "applied_date" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "job_id" bigint NOT NULL REFERENCES "admin_panel_job" ("id") DEFERRABLE INITIALLY DEFERRED, "age" integer NOT NULL, "full_name" varchar(100) NOT NULL, "phone" varchar(15) NOT NULL, "place" varchar(100) NOT NULL, "avatar" varchar(100) NULL);
CREATE TABLE IF NOT EXISTS "App_profile" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "account_type" varchar(20) NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "App_company" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "website" varchar(200) NOT NULL, "description" text NOT NULL, "location" varchar(100) NOT NULL, "logo" varchar(100) NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "is_complete" bool NOT NULL, "company_name" varchar(255) NULL, "phone" varchar(15) NOT NULL);
INSERT INTO App_company VALUES(1,'ABC Pvt Ltd','','','','',30,0,NULL,'9164354376');
INSERT INTO App_company VALUES(2,'TechNova Solutions','','','','',32,1,NULL,'9876543210');
INSERT INTO App_company VALUES(3,'GreenField Group','','','','',33,1,NULL,'9123456789');
CREATE TABLE IF NOT EXISTS "App_job" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "location" varchar(255) NOT NULL, "salary" decimal NOT NULL, "posted_date" datetime NOT NULL, "status" varchar(10) NOT NULL, "company_name" varchar(255) NOT NULL, "job_details" text NOT NULL, "contact_number" varchar(15) NOT NULL, "created_at" datetime NOT NULL, "duration" varchar(100) NOT NULL, "email" varchar(254) NOT NULL, "hourly_rates" varchar(100) NOT NULL, "job_name" varchar(255) NOT NULL, "vacancies" integer NOT NULL, "skills" varchar(255) NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "experience" varchar(50) NOT NULL, "job_code" varchar(20) NOT NULL UNIQUE, "job_time" varchar(50) NOT NULL, "short_description" text NOT NULL, "work_hour" integer unsigned NOT NULL CHECK ("work_hour" >= 0));
INSERT INTO App_job VALUES(1,'Remote',5000,'2025-04-09 13:15:24.038043','Active','Tech Corp','Exciting opportunity...','1234567890','2025-04-09 13:15:24.023778','6 months','admin@example.com','30','Software Engineer',1,'',1,'1-2 Year','12','Full Time','',2);
CREATE TABLE IF NOT EXISTS "App_jobapplication" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "applied_date" datetime NOT NULL, "company_name" varchar(255) NOT NULL, "job_name" varchar(255) NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "email" varchar(254) NULL, "phone_number" varchar(15) NULL, "age" integer unsigned NOT NULL CHECK ("age" >= 0), "cover_letter" text NOT NULL, "dob" date NOT NULL, "full_name" varchar(100) NOT NULL, "gender" varchar(10) NOT NULL, "job_id" bigint NOT NULL REFERENCES "admin_panel_job" ("id") DEFERRABLE INITIALLY DEFERRED, "place" varchar(100) NOT NULL, "resume" varchar(100) NULL, "skills" text NOT NULL, "education" varchar(255) NULL, "experience" varchar(100) NULL, "hourly_rate" varchar(50) NULL, "job_code" varchar(50) NULL, "status" varchar(10) NOT NULL);
INSERT INTO App_jobapplication VALUES(1,'2025-04-09 13:15:34.314213','Tech Corp','Software Engineer',3,'test@example.com','1234567890',25,'I am very excited to apply!','1999-05-15','Test User','Male',1,'Bangalore','','Python, Django, React',NULL,NULL,NULL,NULL,'Pending');
INSERT INTO App_jobapplication VALUES(2,'2025-05-27 06:28:29.595394','XYZ technologies','Plumber',2,'maria123@gmail.com',NULL,34,'hi my name is ...........','2025-05-09','maria','Female',7,'Kochi','','painting',NULL,NULL,NULL,NULL,'Pending');
INSERT INTO App_jobapplication VALUES(3,'2025-05-27 06:30:26.569669','XYZ technologies','Painter',2,'admin@gmail.com',NULL,32,'hi my name is..','2025-05-10','maria domnic','Female',9,'Kochi','','painting',NULL,NULL,NULL,NULL,'Pending');
INSERT INTO sqlite_sequence VALUES('django_migrations',46);
INSERT INTO sqlite_sequence VALUES('django_admin_log',0);
INSERT INTO sqlite_sequence VALUES('django_content_type',26);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "App_contact_user_id_ac965875" ON "App_contact" ("user_id");
CREATE INDEX "App_jobalert_jobseeker_id_ddff73ec" ON "App_jobalert" ("jobseeker_id");
CREATE INDEX "App_notification_user_id_5ab22c9b" ON "App_notification" ("user_id");
CREATE INDEX "App_review_reviewer_id_90872b13" ON "App_review" ("reviewer_id");
CREATE INDEX "App_review_user_id_3ebe320e" ON "App_review" ("user_id");
CREATE INDEX "App_savedjob_job_id_1fe72a9d" ON "App_savedjob" ("job_id");
CREATE INDEX "App_savedjob_jobseeker_id_5fb0584c" ON "App_savedjob" ("jobseeker_id");
CREATE INDEX "App_payment_user_id_769242c5" ON "App_payment" ("user_id");
CREATE INDEX "App_payment_plan_id_29d9f0c2" ON "App_payment" ("plan_id");
CREATE INDEX "admin_panel_adminjobapplication_user_id_9dadbf1a" ON "admin_panel_adminjobapplication" ("user_id");
CREATE INDEX "admin_panel_adminjobapplication_job_id_db0ace69" ON "admin_panel_adminjobapplication" ("job_id");
CREATE INDEX "App_job_user_id_f779644a" ON "App_job" ("user_id");
CREATE INDEX "App_jobapplication_user_id_91acfc99" ON "App_jobapplication" ("user_id");
CREATE INDEX "App_jobapplication_job_id_03defdca" ON "App_jobapplication" ("job_id");
COMMIT;
