.profile-container {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details h2 {
    font-size: 24px;
    font-weight: bold;
}

.profile-details p {
    font-size: 14px;
    color: #555;
}

.edit-profile-btn {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.edit-profile-btn img {
    width: 16px;
    margin-right: 5px;
}

.edit-profile-btn:hover {
    background-color: #1976D2;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea.input-field {
    height: 100px;
    resize: vertical;
}

.save-btn {
    background-color: #33879e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #2f8995;
}

.work-experience-section,
.education-section,
.skills-section,
.resume-section,
.account-details-section {
    margin-bottom: 30px;
}

.add-work-btn,
.update-resume-btn {
    background-color: #2d8ab9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.add-work-btn:hover,
.update-resume-btn:hover {
    background-color: #4e8bbd;
}
